{% import "admin_default/template/macro/button.twig" as macro_button %}
<div class="card">
  <div class="card-header"><i class="fas fa-list"></i> {{ text_listing }}</div>
  <div class="card-body">
    <form action="{{ actions.delete }}" method="post" enctype="multipart/form-data" id="form-general" data-form="listing_item">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
              <td class="text-left">{{ column_name }}</td>
              <td class="text-left">{{ column_value }}</td>
              <td class="text-right" width="50px"></td>
            </tr>
          </thead>
          <tbody>
            {% if listing_items %}
            {% for listing_item in listing_items %}
            <tr>
              <td class="text-center">{% if listing_item.listing_item_id in selected %}
                <input type="checkbox" name="selected[]" value="{{ listing_item.listing_item_id }}" checked="checked" />
                {% else %}
                <input type="checkbox" name="selected[]" value="{{ listing_item.listing_item_id }}" />
                {% endif %}</td>
              <td class="text-left">{{ listing_item.name }}</td>
              <td class="text-left">{{ listing_item.value }}</td>
              <td class="text-right">{{ macro_button.link_edit(listing_item.edit, button_edit) }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="7">{{ text_no_results }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>