<div class="form-group row custom-field" data-sort="{{ custom_field.sort_order }}">
	<label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
	<div class="col-sm-10">
    <div class="input-group">
			<input type="text" name="custom_field[{{ custom_field.custom_field_id }}][-1]" value="{{ custom_field.value[-1] }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
			<div class="input-group-append">
				<button type="button" data-toggle="file" data-target="#input-custom-field{{ custom_field.custom_field_id }}" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-primary" title="{{ button_upload }}"><i class="fas fa-upload"></i></button>
			</div>
		</div>
		{% if error_custom_field[custom_field.custom_field_id] %}
		<div class="invalid-tooltip">{{ error_custom_field[custom_field.custom_field_id] }}</div>
		{% endif %}
	</div>
</div>