<div class="form-group row custom-field" data-sort="{{ custom_field.sort_order }}">
  <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
  <div class="col-sm-10">
    <div class="input-group time">
      <input type="text" name="custom_field[{{ custom_field.custom_field_id }}][-1]" value="{{ custom_field.value[-1] ? custom_field.value[-1]|date('H:i:s') }}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
      <div class="input-group-append">
        <div class="input-group-text"><i class="fas fa-calendar"></i></div>
      </div>
    </div>
    {% if error_custom_field[custom_field.custom_field_id] %}
      <div class="invalid-tooltip">{{ error_custom_field[custom_field.custom_field_id] }}</div>
    {% endif %}
  </div>
</div>