<form action="{{ action }}" method="post" id="form-account_password">
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  {% if location %}
  <script type="text/javascript">location = '{{ location }}';</script>
  {% endif %}
  {% if refresh %}
  <script type="text/javascript">location.reload();</script>
  {% endif %}

{% if password_old %}
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="callback-input callback-input-password">
        <i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/password.svg#form_svg"></use></svg></i>
        <div>{{ entry_password_old }}</div>
        <input type="password" name="password_old">
        <div class="visible-password"><i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/eye.svg#form_svg"></use></svg></i></div>
        {% if error.password_old %}<div class="error-input">{{ error.password_old }}</div>{% endif %}
      </div>
    </div>
  </div>
{% endif %}
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="callback-input callback-input-password">
        <i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/password.svg#form_svg"></use></svg></i>
        <div>{{ entry_password }}</div>
        <input type="password" name="password" value="{{ password }}">
        <div class="visible-password"><i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/eye.svg#form_svg"></use></svg></i></div>
        {% if error.password %}<div class="error-input">{{ error.password }}</div>{% endif %}
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="callback-input callback-input-password">
        <i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/password.svg#form_svg"></use></svg></i>
        <div>{{ entry_password_confirm }}</div>
        <input type="password" name="password_confirm" value="{{ password_confirm }}">
        <div class="visible-password"><i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/eye.svg#form_svg"></use></svg></i></div>
        {% if error.password_confirm %}<div class="error-input">{{ error.password_confirm }}</div>{% endif %}
      </div>
    </div>
  </div>
  <button type="submit" class="main-btn">{{ button_submit }}</button>
</form>

<script type="text/javascript">
$('#form-account_password').submit(function(e){
  e.preventDefault();

  var data = new FormData(this);

  fetch(this.action, {
    credentials: 'include',
    headers: {'Accept': 'text/html'},
    cache: 'no-cache',
    method: 'post',
    body: data
  })
  .then(function(r){
    if (r.status == 401) {
      $('#modal_account').modal('show');

      return '';
    } else
      return r.text();
  })
  .then(function(html) {
    $('#form-account_password').html($(html).html());
  })
  .catch(function(error) {
    console.error(error);
  });
});
</script>