<li class="nav-item" id="nav-item-catalog_special"><a href="#tab-catalog_special" data-toggle="tab" class="nav-link">{{ text_catalog_special }}</a></li>

<div class="tab-pane" id="tab-catalog_special">
  <div class="">
    <table id="catalog_special" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-right">{{ entry_priority }}</td>
          <td class="text-right">{{ entry_value }} ({{ catalog_special_operator }})</td>
          <td class="text-left">{{ entry_date_start }}</td>
          <td class="text-left">{{ entry_date_end }}</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {% set catalog_special_row = 0 %}
        {% for catalog_special in catalog_specials %}
          <tr id="catalog_special-row{{ catalog_special_row }}">
            <td class="text-right"><input type="text" name="catalog_special[{{ catalog_special_row }}][priority]" value="{{ catalog_special.priority }}" placeholder="{{ entry_priority }}" class="form-control"/></td>
            <td class="text-right"><input type="text" name="catalog_special[{{ catalog_special_row }}][value]" value="{{ catalog_special.value }}" placeholder="{{ entry_value }}" class="form-control"/></td>
            <td class="text-left">
              <div class="input-group date">
                <input type="text" name="catalog_special[{{ catalog_special_row }}][date_start]" value="{{ catalog_special.date_start }}" placeholder="{{ entry_date_start }}" class="form-control"/>
                <div class="input-group-append">
                  <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
              </div>
            </td>
            <td class="text-left">
              <div class="input-group date">
                <input type="text" name="catalog_special[{{ catalog_special_row }}][date_end]" value="{{ catalog_special.date_end }}" placeholder="{{ entry_date_end }}" class="form-control"/>
                <div class="input-group-append">
                  <div class="input-group-text"><i class="fas fa-calendar"></i></div>
                </div>
              </div>
            </td>
            <td class="text-left"><button type="button" onclick="$('#catalog_special-row{{ catalog_special_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
          </tr>
          {% set catalog_special_row = catalog_special_row + 1 %}
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td class="text-left"><button type="button" id="button-catalog_special" data-toggle="tooltip" title="{{ button_catalog_special_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<script>
$(function(){
  $('#form-general > .nav > :last-child').before($('#nav-item-catalog_special'));
  $('#form-general > .tab-content').append($('#tab-catalog_special'));
});
</script>
<script>
(function(){
  var catalog_special_row = {{ catalog_special_row }};

  $('#button-catalog_special').click(function() {
    html = '<tr id="catalog_special-row' + catalog_special_row + '">';
    html += '  <td class="text-right"><input type="text" name="catalog_special[' + catalog_special_row + '][priority]" value="" placeholder="{{ entry_priority }}" class="form-control" /></td>';
    html += '  <td class="text-right"><input type="text" name="catalog_special[' + catalog_special_row + '][value]" value="" placeholder="{{ entry_value }}" class="form-control" /></td>';
    html += '  <td class="text-left"><div class="input-group date"><input type="text" name="catalog_special[' + catalog_special_row + '][date_start]" value="" placeholder="{{ entry_date_start }}" class="form-control" /><div class="input-group-append"><div class="input-group-text"><i class="fas fa-calendar"></i></div></div></div></td>';
    html += '  <td class="text-left"><div class="input-group date"><input type="text" name="catalog_special[' + catalog_special_row + '][date_end]" value="" placeholder="{{ entry_date_end }}" class="form-control" /><div class="input-group-append"><div class="input-group-text"><i class="fas fa-calendar"></i></div></div></div></td>';
    html += '  <td class="text-left"><button type="button" onclick="$(\'#catalog_special-row' + catalog_special_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
    html += '</tr>';

    $('#catalog_special tbody').append(html);

    $('#catalog_special .date').datetimepicker({
    'format': 'YYYY-MM-DD',
    'locale': '{{ datepicker }}',
    'allowInputToggle': true
    });

    catalog_special_row++;
  });
})();
</script>