<li class="nav-item" id="nav-item-stock"><a href="#tab-stock" data-toggle="tab" class="nav-link" >{{ text_stock }}</a></li>

<div class="tab-pane" id="tab-stock">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-model">{{ entry_model }}</label>
    <div class="col-sm-10">
      <input type="text" name="product_stock_data[model]" value="{{ product_stock_data.model }}" placeholder="{{ entry_model }}" id="input-model" class="form-control"/>
      <small class="form-text text-muted">{{ help_model }}</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-sku">{{ entry_sku }}</label>
    <div class="col-sm-10">
      <input type="text" name="product_stock_data[sku]" value="{{ product_stock_data.sku }}" placeholder="{{ entry_sku }}" id="input-sku" class="form-control"/>
      <small class="form-text text-muted">{{ help_sku }}</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-quantity">{{ entry_quantity }}</label>
    <div class="col-sm-10">
    {% for stock in stocks %}
      <div class="input-group">
        <div class="input-group-prepend"><span class="input-group-text">{{ stock.name }}</span></div>
        <input type="text" name="stock_product[{{ stock.stock_id }}]" value="{{ stock_product[stock.stock_id] }}" placeholder="{{ entry_quantity }}" class="form-control"/>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-minimum">{{ entry_minimum }}</label>
    <div class="col-sm-10">
      <input type="text" name="product_stock_data[minimum]" value="{{ product_stock_data.minimum }}" placeholder="{{ entry_minimum }}" id="input-minimum" class="form-control"/>
      <small class="form-text text-muted">{{ help_minimum }}</small>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{ entry_subtract }}</label>
    <div class="col-sm-10">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% if subtract %}
          <label class="btn btn-outline-secondary active"><input type="radio" name="product_stock_data[subtract]" value="1" checked="checked"/> {{ text_yes }}</label>
          <label class="btn btn-outline-secondary"><input type="radio" name="product_stock_data[subtract]" value="0"/> {{ text_no }}</label>
        {% else %}
          <label class="btn btn-outline-secondary"><input type="radio" name="product_stock_data[subtract]" value="1"/> {{ text_yes }}</label>
          <label class="btn btn-outline-secondary active"><input type="radio" name="product_stock_data[subtract]" value="0" checked="checked"/> {{ text_no }}</label>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">{{ entry_shipping }}</label>
    <div class="col-sm-10">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% if product_stock_data.shipping %}
          <label class="btn btn-outline-secondary active"><input type="radio" name="product_stock_data[shipping]" value="1" checked="checked"/> {{ text_yes }}</label>
          <label class="btn btn-outline-secondary"><input type="radio" name="product_stock_data[shipping]" value="0"/> {{ text_no }}</label>
        {% else %}
          <label class="btn btn-outline-secondary"><input type="radio" name="product_stock_data[shipping]" value="1"/> {{ text_yes }}</label>
          <label class="btn btn-outline-secondary active"><input type="radio" name="product_stock_data[shipping]" value="0" checked="checked"/> {{ text_no }}</label>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-length">{{ entry_dimension }}</label>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" name="product_stock_data[length]" value="{{ product_stock_data.length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control"/>
        </div>
        <div class="col-sm-4">
          <input type="text" name="product_stock_data[width]" value="{{ product_stock_data.width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
        </div>
        <div class="col-sm-4">
          <input type="text" name="product_stock_data[height]" value="{{ product_stock_data.height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-length-class">{{ entry_length_class }}</label>
    <div class="col-sm-10">
      <select name="product_stock_data[length_class_id]" id="input-length-class" class="form-control">
        {% for length_class in length_classes %}
          {% if length_class.length_class_id == product_stock_data.length_class_id %}
            <option value="{{ length_class.length_class_id }}" selected="selected">{{ length_class.title }}</option>
          {% else %}
            <option value="{{ length_class.length_class_id }}">{{ length_class.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-weight">{{ entry_weight }}</label>
    <div class="col-sm-10">
      <input type="text" name="product_stock_data[weight]" value="{{ product_stock_data.weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="input-weight-class">{{ entry_weight_class }}</label>
    <div class="col-sm-10">
      <select name="product_stock_data[weight_class_id]" id="input-weight-class" class="form-control">
        {% for weight_class in weight_classes %}
          {% if weight_class.weight_class_id == product_stock_data.weight_class_id %}
            <option value="{{ weight_class.weight_class_id }}" selected="selected">{{ weight_class.title }}</option>
          {% else %}
            <option value="{{ weight_class.weight_class_id }}">{{ weight_class.title }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  {{ custom_fields }}
</div>

<script type="text/javascript"><!--
$('#form-general > .nav > :last-child').before($('#nav-item-stock'));
$('#form-general > .tab-content').append($('#tab-stock'));
//--></script>