<div id="modal-account_login" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" >
    <div class="modal_form">
      <div class="callback">
        <div class="h4">{{ text_telephone }}</div>
        <form action="{{ action }}" method="post">
          {% if error_warning %}
          <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
          {% endif %}
          {% if location %}
          <script type="text/javascript">location = '{{ location }}';</script>
          {% endif %}
          {% if refresh %}
          <script type="text/javascript">location.reload();</script>
          {% endif %}

          <div class="callback-input">
            <div>{{ entry_telephone }}</div>
            <input type="tel" name="telephone" value="{{ telephone }}">
            <i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/phone.svg#form_svg"></use></svg></i>
            {% if error.telephone %}<div class="error-input">{{ error.telephone }}</div>{% endif %}
          </div>
        {% if password_old %}
          <div class="callback-input">
            <div>{{ entry_password_old }}</div>
            <input type="password" name="password_old">
            <i class="form_svg"><svg><use xlink:href="theme/client_ws_ttg/images/user.svg#form_svg"></use></svg></i>
            {% if error.password_old %}<div class="error-input">{{ error.password_old }}</div>{% endif %}
          </div>
        {% endif %}

          {{ code_confirm }}
          <button type="submit" class="main-btn">{{ button_submit }}</button>
        </form>
      </div>
    </div>
    <button data-dismiss="modal" class="close_button_popup"></button>
  </div>

  <script type="text/javascript">
  $('#modal-account_login form').submit(function(e){
    e.preventDefault();

    var data = new FormData(this);

    fetch(this.action, {
      credentials: 'include',
      headers: {'Accept': 'text/html'},
      cache: 'no-cache',
      method: 'post',
      body: data
    })
    .then(function(r){
      if (r.status == 401) {
        $('#modal_account').modal('show');

        return '';
      } else
        return r.text();
    })
    .then(function(html) {
      $('#modal-account_login form').html($(html).find('form').html());
    })
    .catch(function(error) {
      console.error(error);
    });
  });
  </script>
</div>