<section class="title_text_block">
  <div class="container">
    <div class="title_text_block_left">
      <h1>{{ heading_title }}</h1>
    </div>
  </div>
</section>
<section class="text_block success_sent">
	<div class="container">
		<div class="success_sent_text">{{ text_success }} {{ text_order }}</div> 
		<div class="buttons clearfix">
			<a href="{{ continue }}" class="other_btn">{{ button_continue }}</a>
		</div>
	</div>
</section>