<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row flex-md-row-reverse">
        <div class="col-12 col-md-3 col-xl-2 text-md-right">
        {% set phone = telephone|split(',') %}
        {% if phone[0] %}
          <div class="header-info-wrap">
            <a class="phone" href="tel:{{ phone[0]|trim() }}">{{ phone[0]|trim() }}</a>
            <div class="links-text">для юридических лиц</div>
          </div>
        {% endif %}
        {% if phone[0] %}
          <div class="header-info-wrap">
            <a class="phone" href="tel:{{ phone[1]|trim() }}">{{ phone[1]|trim() }}</a>
            <div class="links-text">для физических лиц</div>
          </div>
        {% endif %}
          <a href="#modal-form" data-toggle="modal" data-form_id="3" class="do-partner"><i class="star_part"><svg><use xlink:href="theme/client_ws_ttg/images/star_part.svg#star_part"></use></svg></i>Стать партнером</a>
        </div>
        <div class="col-12 col-md-4 d-none d-lg-block">
          {{ menu.footer.view }}
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-info">
            <img src="theme/client_ws_ttg/images/map-pin.svg" alt="">
            <div>
              <p>г. Москва, 1-я ул. Ямского поля,  д.15, строение 2 офис 111</p>
              <p>Время работы: пн-пт 10:00 - 18:00</p>
            </div>            
          </div>
          <div class="footer-info">
            <img src="theme/client_ws_ttg/images/logo_metro.svg" alt="">
            <p>метро Белорусская</p>
          </div>
        </div>
        <div class="col-12 col-md-3 col-lg-2 col-xl-3">
          <div class="footer-logo">
            <a href="{{ base }}" class="logo"><img src="{{ logo }}" class="img-fluid"></a>
            <p>{{ owner }} {{ text_powered }}</p>
            <p>© {{ "now"|date("Y") }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="footer_bottom d-none d-md-block">
    <div class="container">
      <div class="row align-items-center footerContent">
        <div class="col-12 col-md-4">
          {% if agreement %}<div class="footer_left"><a href="{{ agreement }}" target="_blank">Пользовательское соглашение</a></div>{% endif %}
        </div>
        <div class="col-12 col-md-4">
          {{ menu.social.view }}
        </div>
        <div class="col-12 col-md-4">
          <div class="footer_right">
            <p>{{ text_developer }} <a href="https://widestudio.ru/" target="_blank">WideStudio</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

{% for block in blocks %}
{{ block }}
{% endfor %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal-form">
  <div class="modal-dialog" >
    <div class="modal_form">
      <div class="callback"></div>
    </div>
    <button data-dismiss="modal" class="close_button_popup"></button>
  </div>
</div>

<link rel="stylesheet" href="assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css">
<link rel="stylesheet" href="assets/lightbox2-2.10.0/dist/css/lightbox.css">
<!-- <link rel="stylesheet" href="assets/animate.css-3.7.2/animate.css"> -->

<script>
(function(){
  var modal = $('#modal-form');

  modal.on('show.bs.modal', function(e){
    modal.find('.callback').html('<div class="preload"><span class="preload-b1"></span><span class="preload-b2"></span></div>');

    var el = e.relatedTarget;

    fetch('{{ actions.form|replace({"&amp;": "&"}) }}&form_id=' + el.dataset.form_id, {
      credentials: 'include',
      cache: 'no-cache',
      headers: {'Accept': 'text/html'},
    })
    .then(function(r){
      return r.text();
    })
    .then(function(html){
      modal.find('.callback').html(html);

      if (el.dataset.form_value) {
        var form_value = JSON.parse(el.dataset.form_value);

        for (key in form_value) {
          modal.find('[name="' + key + '"]').val(form_value[key]);
        }
      }
    })
    .catch(function(error) {
      console.error(error);
    });
  });
})()
</script>
<script>
(function(){
  var callback = function(mutationsList, observer) {
      for (let mutation of mutationsList) {
          if (mutation.type === 'childList')
            $(mutation.target).find('.callback-input input, .callback-input textarea').each(function(){
              if (this.value) $(this).parent('.callback-input').find('div').addClass('active')
            });
      }
    },
    observer = new MutationObserver(callback);

  observer.observe(document.body, {childList:true, subtree: true});
})();
</script>
<script>
$(function(){
  $('.search-block input[name="search"]').autocomplete({
      'source': function(request, response) {
        fetch('{{ actions.search_autocomplete|replace({"&amp;": "&"}) }}&search=' + encodeURIComponent(request), {
          credentials: 'include',
          cache: 'no-cache',
          headers: {'Accept': 'application/json'},
        })
        .then(function(r){
          return r.json();
        })
        .then(function(json){
          response($.map(json, function(item) {
            return {
              label: item['title'],
              value: item['href']
            }
          }));
        })
        .catch(function(error) {
          console.error(error);
        });
      },
      'select': function(item) {
        location = item['value'];
      }
  });
});
</script>
<script>
(function(){
  var button = $('<button id="toTop"><i class="os-icon os-icon-chevron-up"></i></button>');

  $('body').append(button);

  button.click(function() {
    $('body,html').animate({scrollTop:0},800);
  });

  $(window).scroll(function() { 
    if($(this).scrollTop() > 800)
      button.fadeIn();
    else
      button.fadeOut();
  });
})();
</script>


<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(45332331, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/45332331" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161566368-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-161566368-1');
</script>
<!-- End Google Analytics -->


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '541831012963475'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" src="https://www.facebook.com/tr?id=541831012963475&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->

<script>(function(w, d, s, h, id) {    w.roistatProjectId = id; w.roistatHost = h;    var p = d.location.protocol == "https:" ? "https://" : "http://";    var u = /^.*roistat_visit=[^;]+(.*)?$/.test(d.cookie) ? "/dist/module.js" : "/api/site/1.0/"+id+"/init";    var js = d.createElement(s); js.charset="UTF-8"; js.async = 1; js.src = p+h+u; var js2 = d.getElementsByTagName(s)[0]; js2.parentNode.insertBefore(js, js2);})(window, document, 'script', 'cloud.roistat.com', '847c5c73ad1f860158d1f433964f1f17');</script>
<script type="text/javascript" src="assets/SmoothScroll.min.js" defer></script>
</body>
</html>