<div class="card">
  <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
  <div class="card-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-general" data-form="ext_system">
      <fieldset>
        <legend>{{ text_general }}</legend>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-engine">{{ entry_mail_engine }}</label>
          <div class="col-sm-10">
            <select name="mail_engine" id="input-mail-engine" class="form-control">
              {% if mail_engine == 'mail' %}
                <option value="mail" selected="selected">{{ text_mail }}</option>
              {% else %}
                <option value="mail">{{ text_mail }}</option>
              {% endif %}
              {% if mail_engine == 'smtp' %}
                <option value="smtp" selected="selected">{{ text_smtp }}</option>
              {% else %}
                <option value="smtp">{{ text_smtp }}</option>
              {% endif %}
            </select>
            <small class="form-text text-muted">{{ help_mail_engine }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-parameter">{{ entry_mail_parameter }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_parameter" value="{{ mail_parameter }}" placeholder="{{ entry_mail_parameter }}" id="input-mail-parameter" class="form-control"/>
            <small class="form-text text-muted">{{ help_mail_parameter }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-smtp-hostname">{{ entry_mail_smtp_hostname }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_smtp_hostname" value="{{ mail_smtp_hostname }}" placeholder="{{ entry_mail_smtp_hostname }}" id="input-mail-smtp-hostname" class="form-control"/>
            <small class="form-text text-muted">{{ help_mail_smtp_hostname }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-smtp-username">{{ entry_mail_smtp_username }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_smtp_username" value="{{ mail_smtp_username }}" placeholder="{{ entry_mail_smtp_username }}" id="input-mail-smtp-username" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-smtp-password">{{ entry_mail_smtp_password }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_smtp_password" value="{{ mail_smtp_password }}" placeholder="{{ entry_mail_smtp_password }}" id="input-mail-smtp-password" class="form-control"/>
            <small class="form-text text-muted">{{ help_mail_smtp_password }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-smtp-port">{{ entry_mail_smtp_port }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_smtp_port" value="{{ mail_smtp_port }}" placeholder="{{ entry_mail_smtp_port }}" id="input-mail-smtp-port" class="form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-smtp-timeout">{{ entry_mail_smtp_timeout }}</label>
          <div class="col-sm-10">
            <input type="text" name="mail_smtp_timeout" value="{{ mail_smtp_timeout }}" placeholder="{{ entry_mail_smtp_timeout }}" id="input-mail-smtp-timeout" class="form-control"/>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>{{ text_mail_alert }}</legend>
        <div class="form-group row required">
          <label class="col-sm-2 col-form-label" for="input-email">{{ entry_email }}</label>
          <div class="col-sm-10">
            <input type="email" name="mail_email" value="{{ mail_email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
            {% if error_email %}
              <div class="invalid-tooltip">{{ error_email }}</div>
            {% endif %}</div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">{{ entry_mail_alert }}</label>
          <div class="col-sm-10">
            <div class="form-control" style="height: 150px; overflow: auto;">
              {% for item in mail_alerts %}
                <label class="form-check">
                  {% if item.value in mail_alert %}
                    <input type="checkbox" name="mail_alert[]" value="{{ item.value }}" checked="checked" class="form-check-input"/>
                    {{ item.text }}
                  {% else %}
                    <input type="checkbox" name="mail_alert[]" value="{{ item.value }}" class="form-check-input"/>
                    {{ item.text }}
                  {% endif %}
                </label>
              {% endfor %}
            </div>
            <small class="form-text text-muted">{{ help_mail_alert }}</small>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="input-mail-alert-email">{{ entry_mail_alert_email }}</label>
          <div class="col-sm-10">
            <textarea name="mail_alert_email" rows="5" placeholder="{{ entry_mail_alert_email }}" id="input-alert-email" class="form-control">{{ mail_alert_email }}</textarea>
            <small class="form-text text-muted">{{ help_mail_alert_email }}</small>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>