<div class="card">
  <div class="card-header"><i class="fas fa-pencil-alt"></i> {{ text_edit }}</div>
  <div class="card-body">
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-general" data-form="shipping">
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
        <div class="col-sm-10">
          <select name="shipping_constructor_status" id="input-status" class="form-control">
            {% if shipping_constructor_status %}
            <option value="1" selected="selected">{{ text_enabled }}</option>
            <option value="0">{{ text_disabled }}</option>
            {% else %}
            <option value="1">{{ text_enabled }}</option>
            <option value="0" selected="selected">{{ text_disabled }}</option>
            {% endif %}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
        <div class="col-sm-10">
          <input type="text" name="shipping_constructor_sort_order" value="{{ shipping_constructor_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
        </div>
      </div>
      <fieldset id="option-value">
        <legend>{{ text_value }}</legend>
        <table id="method" class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left required">{{ entry_data }}</td>
              <td class="text-right">{{ entry_content }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          {% set method_row = 0 %}
          {% for method in shipping_constructor_methods %}
          <tr id="method-row{{ method_row }}">
            <td class="text-left">
              <div class="form-group">
                <label class="control-label">{{ entry_code }}</label>
                <input type="text" name="shipping_constructor_methods[{{ method_row }}][code]" value="{{ method.code }}" placeholder="{{ entry_code }}" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label">{{ entry_geo_zone }}</label>
                <select name="shipping_constructor_methods[{{ method_row }}][geo_zone_id]" class="form-control">
                  <option value="0">{{ text_all_zones }}</option>
                  {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id == method.geo_zone_id %}
                  <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                  {% else %}
                  <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">{{ entry_geo_zone_exclude }}</label>
                <select name="shipping_constructor_methods[{{ method_row }}][geo_zone_id_exclude]" class="form-control">
                  <option value="0">{{ text_none }}</option>
                  {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id == method.geo_zone_id_exclude %}
                  <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                  {% else %}
                  <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label class="control-label">{{ entry_price }}</label>
                <input type="text" name="shipping_constructor_methods[{{ method_row }}][price]" value="{{ method.price }}" placeholder="{{ entry_price }}" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label">{{ entry_free }}</label>
                <input type="text" name="shipping_constructor_methods[{{ method_row }}][free]" value="{{ method.free }}" placeholder="{{ entry_free }}" class="form-control" />
              </div>
            </td>
            <td class="text-left">
              <div class="form-group">
                <label class="col-form-label">{{ entry_title }}</label>
                <div>
                {% for language in languages %}
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></span></div>
                    <input type="text" name="shipping_constructor_methods[{{ method_row }}][title][{{ language.language_id }}]" value="{{ method.title[language.language_id] ? method.title[language.language_id] }}" placeholder="{{ entry_title }}" class="form-control"/>
                  </div>
                {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">{{ entry_description }}</label>
                <div>
                {% for language in languages %}
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></span></div>
                    <input type="text" name="shipping_constructor_methods[{{ method_row }}][description][{{ language.language_id }}]" value="{{ method.description[language.language_id] ? method.description[language.language_id] }}" placeholder="{{ entry_description }}" class="form-control"/>
                  </div>
                {% endfor %}
                </div>
              </div>
              <div class="form-group">
                <div class="card">
                  <img src="{{ method.thumb }}" alt="" title="" id="thumb-image{{ method_row }}" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="shipping_constructor_methods[{{ method_row }}][image]" value="{{ method.image }}" id="input-image{{ method_row }}"/>
                  <div class="card-body">
                    <button type="button" data-toggle="image" data-target="#input-image{{ method_row }}" data-thumb="#thumb-image{{ method_row }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
                    <button type="button" data-toggle="clear" data-target="#input-image{{ method_row }}" data-thumb="#thumb-image{{ method_row }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
                  </div>
                </div>
              </div>
            </td>
            <td class="text-right"><button type="button" onclick="$('#method-row{{ method_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button></td>
          </tr>
          {% set method_row = method_row + 1 %}
          {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"></td>
              <td class="text-right" width="50px"><button type="button" onclick="addMethodRow();" data-toggle="tooltip" title="{{ button_method_add }}" class="btn btn-primary btn-sm"><i class="fa fa-plus-circle"></i></button></td>
            </tr>
          </tfoot>
        </table>
      </fieldset>
    </form>
  </div>
</div>

<script type="text/javascript"><!--
var method_row = {{ method_row }};

function addMethodRow() {
  html  = '<tr id="method-row' + method_row + '">';
  html += '  <td class="text-left">';
  html += '    <div class="form-group">';
  html += '      <label class="control-label">{{ entry_code }}</label>';
  html += '      <input type="text" name="shipping_constructor_methods[' + method_row + '][code]" value="" placeholder="{{ entry_code }}" class="form-control" />';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <label class="control-label">{{ entry_geo_zone }}</label>';
  html += '      <select name="shipping_constructor_methods[' + method_row + '][geo_zone_id]" class="form-control">';
  html += '        <option value="0">{{ text_all_zones }}</option>';
  {% for geo_zone in geo_zones %}
  html += '        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>';
  {% endfor %}
  html += '      </select>';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <label class="control-label">{{ entry_geo_zone_exclude }}</label>';
  html += '      <select name="shipping_constructor_methods[' + method_row + '][geo_zone_id_exclude]" class="form-control">';
  html += '        <option value="0">{{ text_none }}</option>';
  {% for geo_zone in geo_zones %}
  html += '        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>';
  {% endfor %}
  html += '      </select>';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <label class="control-label">{{ entry_price }}</label>';
  html += '      <input type="text" name="shipping_constructor_methods[' + method_row + '][price]" value="" placeholder="{{ entry_price }}" class="form-control" />';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <label class="control-label">{{ entry_free }}</label>';
  html += '      <input type="text" name="shipping_constructor_methods[' + method_row + '][free]" value="" placeholder="{{ entry_free }}" class="form-control" />';
  html += '    </div>';
  html += '  </td>';
  html += '  <td class="text-left">';
  html += '    <div class="form-group">';
  html += '      <label class="col-form-label">{{ entry_title }}</label>';
  html += '      <div>';
                {% for language in languages %}
  html += '        <div class="input-group">';
  html += '          <div class="input-group-prepend"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></span></div>';
  html += '          <input type="text" name="shipping_constructor_methods[' + method_row + '][title][{{ language.language_id }}]" value="" placeholder="{{ entry_title }}" class="form-control"/>';
  html += '        </div>';
                {% endfor %}
  html += '      </div>';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <label class="col-form-label">{{ entry_description }}</label>';
  html += '      <div>';
                {% for language in languages %}
  html += '        <div class="input-group">';
  html += '          <div class="input-group-prepend"><span class="input-group-text"><img src="{{ language.image }}" title="{{ language.name }}"/></span></div>';
  html += '          <input type="text" name="shipping_constructor_methods[' + method_row + '][description][{{ language.language_id }}]" value="" placeholder="{{ entry_description }}" class="form-control"/>';
  html += '        </div>';
                {% endfor %}
  html += '      </div>';
  html += '    </div>';
  html += '    <div class="form-group">';
  html += '      <div class="card">';
  html += '        <img src="{{ placeholder }}" alt="" title="" id="thumb-image' + method_row + '" data-placeholder="{{ placeholder }}" class="card-img-top"/>';
  html += '        <input type="hidden" name="shipping_constructor_methods[' + method_row + '][image]" value="" id="input-image' + method_row + '"/>';
  html += '        <div class="card-body">';
  html += '          <button type="button" data-toggle="image" data-target="#input-image' + method_row + '" data-thumb="#thumb-image' + method_row + '" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>';
  html += '          <button type="button" data-toggle="clear" data-target="#input-image' + method_row + '" data-thumb="#thumb-image' + method_row + '" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>';
  html += '        </div>';
  html += '      </div>';
  html += '    </div>';
  html += '  </td>';

  html += '  <td class="text-right"><button type="button" onclick="$(\'#method-row' + method_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger btn-sm"><i class="fa fa-minus-circle"></i></button></td>';
  html += '</tr>';

  $('#method tbody').append(html);

  method_row++;
}
//--></script>